@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500&family=Rubik:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

body {
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
  font-size: 3vh;
  color: #2f394d;
  width: 100vw;
  height: 100vh;
}

h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 3.5vh;
}

a {
  color: #2f394d;
  text-decoration: none;
}

.wrapper {
  position: relative;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 3vw solid transparent;
  border-bottom: 3vw solid transparent;
  border-right: 3vw solid #2f394d;
}

.arrow-left:not(:last-child) {
  margin-right: -1vw;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 3vw solid transparent;
  border-bottom: 3vw solid transparent;
  border-left: 3vw solid #2f394d;
}

.arrow-right:not(:last-child) {
  margin-right: -1vw;
}

.page-switcher, .page-switcher button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-switcher {
  margin-top: 3vh;
}

.page-switcher button {
  background: none;
  border: none;
}

.page-switcher button:focus {
  outline: none;
}

.hidden {
  visibility: hidden;
}

header {
  padding: 0 3vw;
  padding-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 2;
  background: #defbda;
  width: 100vw;
  -webkit-box-shadow: 0px -20px 7px 16px;
          box-shadow: 0px -20px 7px 16px;
}

.profile-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vh 0;
}

.social-media {
  font-size: 3.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-media div {
  padding-right: 2vw;
}

.email {
  background: -webkit-gradient(linear, left top, left bottom, from(#defbda), color-stop(45%, #defbda), color-stop(45%, #8cc185), to(#8cc185));
  background: linear-gradient(#defbda, #defbda 45%, #8cc185 45%, #8cc185);
}

.main-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;
  background: #defbda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20vh 7vw 10vh 7vw;
}

.main-page-card {
  text-align: center;
}

.main-page-card h1 {
  font-size: 7vh;
  margin-bottom: 2vh;
}

.main-page-card span {
  font-size: 4vh;
}

.main-page-description {
  text-align: center;
}

.main-page-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30vw;
  font-size: 4vh;
}

#main-page {
  opacity: 1;
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}

.projects, .publications {
  background: #f6f7eb;
}

.projects {
  position: relative;
  bottom: 100vh;
}

.projects h2 {
  display: none;
}

.projects article {
  width: 100vw;
  height: 100vh;
  padding-top: 17vh;
  padding-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background: inherit;
}

.projects article img {
  height: 30vh;
}

.projects article p {
  text-align: center;
  padding: 0 5vw;
}

.projects article a {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f7eb), color-stop(45%, #f6f7eb), color-stop(45%, #f7bbbb), to(#f7bbbb));
  background: linear-gradient(#f6f7eb, #f6f7eb 45%, #f7bbbb 45%, #f7bbbb);
}

.projects .page-switcher {
  padding: 0 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.technologies, .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 5vw;
  margin-top: 3vh;
}

.technologies span, .project-links span {
  background: #f7bbbb;
  padding: 1vh 1vw 0.1vh 1vw;
}

.technologies span:not(:last-child), .technologies a:not(:last-child), .project-links span:not(:last-child), .project-links a:not(:last-child) {
  margin-right: 2.5vw;
}

#first-project {
  bottom: 100vh;
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}

#second-project {
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}
/*# sourceMappingURL=style.css.map */