// General
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Tajawal:wght@200;300;400;500&display=swap');
$border-color: #1abc9c;
$background-outside: #323234;
$background-inside: #474749;

body {
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
  font-size: 3.5vh;
}

h1 {
  font-family: 'PT Serif', serif;
}

h1, h2, h3 {
  font-weight: 400;
  font-size: 4.5vh;
}

// Header

.profile-card {
  display: flex;
  img {
    border-radius: 50%;
    height: 15vh;
  }
}

.profile-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1vh 1vw;
}