// General
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Tajawal:wght@200;300;400;500&display=swap');
$border-color: #1abc9c;
$background-outside: #323234;
$background-inside: #474749;
$big-size: 3.5vh;
$little-size: 3vh;

body {
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
  font-size: $little-size;
}

h1, h2, h3 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: $big-size;
}

a {
  color: black;
  text-decoration: none;
}

// Header

header {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
}

.profile-card {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  order: 1;
}

.profile-description {
  order: 3;
}

.social-links {
  display: flex;
  justify-content: space-between;
  order: 2;
}

.social-media {
  font-size: $big-size;
  display: flex;
}