body {
  color:#334017;
  background-color: #A7D3A6;
  font-family: 'Courier New', Courier, monospace;
}

.first {
    width: 50vw;
    height: 5em;
    margin: 2em auto;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85vw;
    margin: 0 auto;
    padding: 2em 0;
}

div {
    background-color: #92dce5;
}

.projects h1 {
    align-self: center;
    margin-bottom: 3em;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list div {
    width: 15vw;
    background-color: #FFF;
    padding: 1em;
}

.list img {
    width: 100%;
}